<!-- Header (SECTION 1/3) -->
<header class="masthead">
  <p class="masthead-intro">BandP</p>
  <h1 class="masthead-heading">Enterprise</h1>
</header>

<!-- the div is used to apply the gradient -->
<div class="gradient">
<!-- Body (SECTION 2/3) -->
<section>
  <h2>About B&P</h2>
    <p></p>
    <p class="space-maker"></p>
</section>

<section>
  <h2>Offering</h2>
    <p class="space-maker"></p>
</section>

<section>
  <h2> More About us </h2>
  <h3>Our Philosophy</h3>
  <p class="space-maker"></p>
  <h3>Our Purpose</h3>
  <p class="space-maker"></p>
  <h3>Who we are?</h3>
  <p></p>
</section>
</div>

<!-- Footer (SECTION 3/3) -->
<footer class="content-footer">
  
  <p>Contact Us </p>
  <ul class="social">
    <li><a href="https://www.facebook.com/john.coppola?_rdr=p" target=_Blank>Facebook</a></li>
    <li><a href="https://github.com/johnnycopes" target=_Blank>Github</a></li>
    <li><a href="https://twitter.com/johnnycopes1" id="check2" target=_Blank>Twitter</a></li>
  </ul>
 
</footer>