<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Header (SECTION 1/3) -->
<header class="masthead container-fluid text-center img-responsive margin">
  <p class="masthead-intro">B&P</p>
  <h1 class="masthead-heading">Enterprise</h1>
  <h4><font color="white">"Love to design,implement and deliver" 
    <br>
    ~~Team B&P
  </font>
</h4>
  
 
</header>

<!-- the div is used to apply the gradient -->
<div class="gradient container-fluid text-center">
<!-- Body (SECTION 2/3) -->
<section>
  <h3><font color="teal">About B&P</font></h3>
    <p>B&P Enterprise is a website building company focused on improving the quality and functionality 
      of websites .
    </p>
    <p class="space-maker"></p>
</section>

<section>
  <h3><font color="teal">Offering</font></h3>
    <p class="space-maker">
        Our offering is a combination of design,innovation  and technology. 
        
    </p>
</section>

<section>
  <h3> More About us </h3>
  <i class="fa fa-lightbulb-o" 
  style="font-size:60px;text-shadow:2px 2px 4px #000000;"
  aria-hidden="true"></i>
  <h3>Our Philosophy</h3>
  <p class="space-maker">
      Web design is full of problems looking for solutions. Unfortunately too many designers (and clients) 
      forget or ignore the problem they are trying to solve, 
      and instead focus on just the aesthetics instead of looking at the bigger picture of what the site 
      is trying to achieve. 
      This should cause us to start asking ourselves what our role as “designer” is exactly.
  </p>
  <i class="fa fa-star" 
  style="font-size:60px;text-shadow:2px 2px 4px #000000;"
  aria-hidden="true"></i>
  <h3>Our Purpose</h3>
  <p class="space-maker">
      Websites are built to sell things, promote people or businesses, provide information, 
      connect people, and store content. Each type of site has specific challenges and problems that 
      must be overcome to make the site function in the best way possible. 
      The challenges you need to solve are often big picture things, like the best way of connecting 
      with the target audience of a site. They could be things to do with process, 
      like the most efficient way of collecting credit card details from users.
       They could be information visualization, 
      such as the best way to present a complex table of data, or they could be simple things like how 
      big to make a button or a heading in relation to the rest of the page. 
      Regardless of the size of the problem, Our job is to solve these problems,
       not just to make the problems look prettier.
  </p>
  <i class="fa fa-users" 
  style="font-size:60px;text-shadow:2px 2px 4px #000000;"
  aria-hidden="true"></i>
  <h3>Who we are?</h3>
  <p>We are a team of highly passionate and talented individuals with vast experience in IT .</p>
</section>
</div>



<!-- Footer (SECTION 3/3) -->
<footer class="content-footer container-fluid text-center">
  
    <p><font color="white"  >Contact Us </font></p>
  <ul class="social">
      
    <li><a href="https://www.facebook.com/" target=_Blank>Facebook</a></li>
    <li><a href="https://github.com/" target=_Blank>Github</a></li>
    <li><a href="https://twitter.com/"  target=_Blank>Twitter</a></li>
  </ul>
<br>
  <i class="fa fa-copyright" aria-hidden="true" style="color:white">
    <font color="white">
    2017 bandpenterprise.All Rights Reserved
  </font>
  </i>
  
</footer>